@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;700&display=swap");

h1,
h2 {
  font-family: "Recursive", sans-serif;
}

body {
  background: rgb(154, 220, 251);
  background: linear-gradient(
    180deg,
    rgba(154, 220, 251, 1) 0%,
    rgba(186, 231, 252, 1) 20%,
    rgba(243, 251, 255, 0.9836309523809523) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

header {
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 20%;

  .logo img {
    max-width: 100%;
    height: auto;
  }
}

.connection {
  padding: 2rem 5%;

  &-selector {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    input {
      display: none;

      &:checked + label {
        box-shadow: none;
        color: rgb(50, 50, 50);
        font-weight: 800;
      }
    }

    label {
      flex: 1 1;
      text-align: center;
      box-sizing: border-box;
      position: relative;
      padding: 1rem 1.5rem;
      background-color: white;
      border-radius: 27px 27px 0px 0px;
      box-shadow: inset 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
      color: rgb(165, 165, 165);
      font-weight: 600;
      text-transform: uppercase;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out, padding 0.2s ease-in-out,
        border-radius 0.2s ease-in-out;
    }
  }

  &-content {
    background-color: white;
    box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 27px 27px;

    form {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      padding: 2rem 0;

      input {
        all: unset;
        position: relative;
        border: none;
        text-align: center;
        padding: 0.5rem;
        margin: 0 auto;
        font-family: "Recursive", sans-serif;
        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 800, "slnt" 0,
          "CRSV" 0.5;
        color: black;
        width: 70%;

        &::placeholder {
          color: rgb(202, 202, 202);
        }

        &:focus {
          &::placeholder {
            color: rgb(0, 0, 0);
          }
        }

        &:active,
        &:focus {
          background-color: rgba(216, 216, 216, 0.1);
          border-radius: 15px;
        }
      }

      button.submit {
        all: unset;
        box-shadow: inset 0px 40px 0px -15px rgba(255, 255, 255, 0.1);
        background-color: #151e9b;
        border-radius: 12px;
        cursor: pointer;
        color: #ffffff;
        padding: 15px 20px;
        text-decoration: none;
        width: fit-content;
        margin: auto;
        font-family: "Recursive", sans-serif;
        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 600, "slnt" 0,
          "CRSV" 0.5;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #d63434;
          transform: scale(1.05);
        }

        &:active {
          position: relative;
          top: 1px;
        }
      }

      .error {
        height: 0.7rem;
        text-align: center;
        color: rgb(226, 61, 61);
        font-family: "Recursive", sans-serif;
        font-size: 0.7rem;
      }
    }
  }
}

.home {
  padding: 2rem 5%;

  &-content {
    background-color: white;
    box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 27px 27px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 0;
  }

  .welcomer {
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      all: unset;
      box-shadow: inset 0px 40px 0px -15px rgba(255, 255, 255, 0.1);
      background-color: #0055c5;
      border-radius: 12px;
      cursor: pointer;
      color: #ffffff;
      padding: 15px 20px;
      text-decoration: none;
      width: 50%;
      text-align: center;
      margin: auto;
      font-family: "Recursive", sans-serif;
      font-variation-settings: "MONO" 0, "CASL" 0, "wght" 600, "slnt" 0,
        "CRSV" 0.5;
      transition: all 0.2s ease-in-out;

      &:nth-child(1) {
        box-shadow: inset 0px 40px 0px -15px rgba(255, 255, 255, 0.1);
        background-color: #03680b;
      }

      &:nth-child(2) {
        box-shadow: inset 0px 40px 0px -15px rgba(255, 255, 255, 0.1);
        background-color: #b15a5a;
      }

      &:hover {
        background-color: #d63434;
        transform: scale(1.05);
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}

#join {
  ul {
    list-style: none;

    li {
      display: flex;
      justify-content: space-around;
      padding: 0.5rem 0;
    }
  }
}

#game-board {
  .game-header {
    position: relative;
    height: 200px;
    background-color: rebeccapurple;

    .player-header {
      position: absolute;
      border: 1px solid black;
      padding: 0.2em 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;

      &__name {
        text-align: center;
      }

      &__score {
        text-align: center;
        font-weight: 600;
        font-size: 2rem;
      }

      &__states {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;

        .state-item {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 0.7rem;
          background-color: rgb(159, 241, 159);
          padding: 0.2rem;
          flex: 1 1 auto;
          border: 1px solid black;
          border-radius: 15px;

          &.active {
            background-color: rgb(190, 39, 39);
          }
        }
      }

      &__bonus {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;

        .bonus-item {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 0.7rem;
          background-color: rgb(0, 151, 252);
          padding: 0.2rem;
          flex: 1 1 auto;
          border: 3px solid black;
          border-radius: 15px;

          &.inactive {
            border-color: red;
          }
        }
      }

      &:nth-child(1) {
        top: 0;
        left: 10%;
        border-radius: 0 0 10px 10px;
      }

      &:nth-child(2) {
        top: 0;
        right: 10%;
        border-radius: 0 0 10px 10px;
      }

      &[data-order="1"] {
        background-color: rgb(65, 85, 200);
      }

      &[data-order="2"] {
        background-color: rgb(200, 75, 70);
      }
    }
  }

  .player-area {
    .cards {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;

      .card {
        background: white;
        height: 170px;
        width: 120px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
        border: 1px solid black;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .action-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    border-radius: 20px;
    width: 50%;
    min-height: 20%;
    text-align: center;

    &__buttons {
      display: flex;
      justify-content: space-around;

      button {
        all: unset;
        padding: 2rem;
        color: #ffffff;
        font-weight: bolder;
        text-transform: uppercase;
        border-radius: 20px;

        &:hover {
          transform: scale(1.1);
        }

        &:nth-child(1) {
          background-color: rgb(65, 120, 200);
        }

        &:nth-child(2) {
          background-color: rgb(182, 94, 94);
        }

        &:nth-child(3) {
          background-color: rgb(0, 0, 0);
        }
      }
    }
  }

  .notification-popup {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 20%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.visible {
      opacity: 1;
    }
  }

  .attack-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    min-width: 100px;
    min-height: 100px;
  }
}
