@use "@Styles/utils/variables.scss" as Vars;

.board-header {
  position: relative;
  background-color: Vars.$white;
  box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 27px 27px;
  padding: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: none;
    margin: auto;
    img {
      height: 100%;
    }
  }

  .logo {
    height: 3rem;
    width: 3rem;
    text-align: center;
    margin: auto;
    img {
      height: 100%;
    }
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: none;
    margin: auto;
    img {
      height: 100%;
    }
  }
}
.message-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 4rem;
  z-index: 1;
  background-color: Vars.$white;
  box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 27px 27px 0 0;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  input {
    border-radius: 25px;
    background-color: Vars.$grey_transparent;
    border: 0;
    flex: 1;
  }
  button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    background-color: Vars.$green;
    &:focus-visible {
      outline: none;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}
