@use "@Styles/utils/variables.scss" as Vars;

.board-header {
  position: relative;
  background-color: Vars.$white;
  box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 27px 27px;
  padding: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-height: 400px) {
    padding: 0.3rem;
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: none;
    margin: auto;
    i {
      font-size: 1.8rem;
    }
    @media (max-height: 400px) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .logo {
    height: 3rem;
    width: 3rem;
    text-align: center;
    margin: auto;

    @media (max-height: 400px) {
      height: 1.7rem;
      width: 1.7rem;
    }
    img {
      height: 100%;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: none;
    margin: auto;

    @media (max-height: 400px) {
      height: 1.5rem;
      width: 1.5rem;
    }
    i {
      font-size: 1.8rem;
    }
  }
}
.message-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 4rem;
  z-index: 1;
  background-color: Vars.$white;
  box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 27px 27px 0 0;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  label {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: Vars.$grey_transparent;
    padding: 0 4rem 0 1rem;
    margin: 1rem;
    min-height: 3rem;
    height: fit-content;
    width: 100%;
  }

  input {
    border: 0;
    flex: 1;
    background: none;
  }

  button.send {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: Vars.$green;
    text-align: center;

    &:focus-visible {
      outline: none;
    }

    i {
      font-size: 1.5rem;
      color: Vars.$white;
    }
  }
}
