@use "../utils/variables.scss" as Vars;

.game-board {
  position: relative;
  height: 100vh;
  overflow: hidden;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(168, 222, 255, 1) 70%,
    rgba(80, 201, 255, 1) 100%
  );
  .game-header {
    position: relative;
    z-index: 2;

    .player-header {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;

      &.current .player-header__name {
        animation: pulse 1s infinite ease-in-out alternate;
      }

      &[data-order="1"] {
        top: 0;
        left: 10vw;
        transform-origin: top;

        .player-header__name {
          color: Vars.$white;
          background-color: Vars.$blue;
          border-radius: 0 0 20px 20px;
        }
      }

      &[data-order="2"] {
        top: 0;
        right: 10vw;
        transform-origin: top;

        .player-header__name {
          color: Vars.$white;
          background-color: Vars.$red;
          border-radius: 0 0 20px 20px;
        }
      }

      &[data-order="3"] {
        top: 20vh;
        right: 0;
        transform-origin: right;

        .player-header__name {
          color: Vars.$white;
          background-color: Vars.$green;
          border-radius: 15px 0 0 15px;
        }
      }

      &[data-order="4"] {
        transform-origin: left;
        top: 20vh;
        left: 0;

        .player-header__name {
          color: Vars.$white;
          background-color: Vars.$orange;
          border-radius: 0 15px 15px 0;
        }
      }

      &__name {
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
        padding: 0.5rem 0.8rem;
        margin: 0;
      }

      &__score {
        text-align: center;
        font-weight: 600;
        font-size: 2.5rem;
        padding: 0.5rem 0;
        margin: 0;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
      }

      &__states {
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.3rem;
        margin-bottom: 0.2rem;

        .state-item {
          // display: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 30%;
          background-color: #ffffff;
          width: 2rem;
          height: 2rem;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          border: 2px solid Vars.$red;

          &.active {
            display: flex;
          }

          img {
            width: 2rem;
          }
        }
      }

      &__bonus {
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.3rem;
        margin-bottom: 0.2rem;

        .bonus-item {
          // display: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 30%;
          background-color: #ffffff;
          width: 2rem;
          height: 2rem;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          border: 2px solid Vars.$orange;

          &.active {
            display: flex;
          }

          img {
            width: 2rem;
          }
        }
      }
    }
  }

  .player-area {
    &__hand {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      max-width: 800px;
      height: 40vw;
      min-height: 220px;

      .card {
        // Positionnement et taille de la carte
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: Vars.$white;
        border: none;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        height: 100%;
        max-height: 300px;
        width: calc(100vw / 6);
        max-width: 180px;
        min-width: 110px;
        padding: 0.5rem;
        overflow: hidden;
        z-index: 2;
        bottom: 0%;
        transform: translateY(0%);
        transition: transform 0.3s ease, bottom 0.3s ease;

        // Effet au survol
        &:hover,
        &:active,
        &:focus {
          bottom: 16%;
          transform: scale(1.2) !important;
          z-index: 21 !important;
        }

        // Effet disabled
        &:disabled {
          filter: grayscale(90%);
        }

        // Pseudo élément avant pour effets supplémentaires
        &::before {
          content: "";
          position: absolute;
          z-index: 1;
        }

        // Contenu de la carte
        &-top,
        &-bottom {
          display: flex;
          width: 100%;
          font-size: 0.7rem;
          font-weight: 500;
          text-shadow: Vars.$white 2px 0px 0px,
            Vars.$white 1.75517px 0.958851px 0px,
            Vars.$white 1.0806px 1.68294px 0px,
            Vars.$white 0.141474px 1.99499px 0px,
            Vars.$white -0.832294px 1.81859px 0px,
            Vars.$white -1.60229px 1.19694px 0px,
            Vars.$white -1.97998px 0.28224px 0px,
            Vars.$white -1.87291px -0.701566px 0px,
            Vars.$white -1.30729px -1.5136px 0px,
            Vars.$white -0.421592px -1.95506px 0px,
            Vars.$white 0.567324px -1.91785px 0px,
            Vars.$white 1.41734px -1.41108px 0px,
            Vars.$white 1.92034px -0.558831px 0px;
          z-index: 2;
        }

        &-top {
          justify-content: flex-start;
          text-align: left;
        }

        &-bottom {
          justify-content: flex-end;
          text-align: right;
        }

        // Image de la carte
        &-image {
          margin: auto;
          font-size: 2.4rem;
          font-weight: 700;
          z-index: 2;

          img {
            max-width: 100%;
          }
        }

        // Cartes selon le type
        &[data-type="attaque"] {
          color: Vars.$red;
          &::before {
            left: 50%;
            bottom: 0;
            transform: rotate(-20deg) translateX(-50%);
            height: 50%;
            width: 150%;
            background-color: Vars.$red;
          }
        }

        &[data-type="parade"] {
          color: Vars.$white;
          .card-top,
          .card-bottom {
            text-shadow: none;
            font-weight: 600;
          }

          &::before {
            position: absolute;
            content: "";
            left: -20%;
            top: 0%;
            height: 30%;
            width: 150%;
            transform: translateY(-45%) rotate(-20deg);
            background-color: Vars.$green;
          }

          &::after {
            content: "";
            position: absolute;
            right: -20%;
            bottom: 0%;
            height: 30%;
            width: 150%;
            transform: translateY(45%) rotate(-20deg);
            background-color: Vars.$green;
          }
        }

        &[data-type="borne"] {
          color: Vars.$sky;
          box-sizing: border-box;
          border: solid 5px;
          border-radius: 15px;
          border-color: Vars.$sky;
          .card-top,
          .card-bottom {
            font-weight: 600;
          }

          &::after {
            content: "";
            position: absolute;
            top: 12.35%;
            left: 12.35%;
            height: 75%;
            width: 75%;
            border: solid 1px;
            border-radius: 10px;
            border-color: Vars.$sky;
          }
        }

        &[data-type="bonus"] {
          color: Vars.$orange;
          .card-top,
          .card-bottom {
            font-weight: 600;
          }
          &::before {
            position: absolute;
            content: "";
            top: 10%;
            left: 10%;
            border-radius: 10px;
            height: 80%;
            width: 80%;
            border: solid 1px;
            border-color: Vars.$orange;
          }
          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            transform: skew(-40deg, 0deg);
            height: 100%;
            width: 100%;
            background-color: Vars.$orange;
          }
        }

        // Positionnement des cartes en fonction de leur index
        &:nth-child(1) {
          left: 30%;
          transform: rotate(-2deg);
          z-index: 20;
        }

        &:nth-child(2) {
          right: 30%;
          transform: rotate(2deg);
          z-index: 19;
        }

        &:nth-child(3) {
          left: 10%;
          z-index: 18;
          transform: rotate(-5deg);
        }

        &:nth-child(4) {
          right: 10%;
          z-index: 17;
          transform: rotate(5deg);
        }

        &:nth-child(5) {
          left: -5%;
          z-index: 16;
          transform: rotate(-8deg);
        }

        &:nth-child(6) {
          right: -5%;
          z-index: 15;
          transform: rotate(8deg);
        }
      }
    }
  }

  .card-stack {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);

    &__count {
      color: Vars.$white;
      font-weight: 900;
      text-align: center;
      font-size: 2rem;
      &.good {
        text-shadow: 2px 2px 0 Vars.$green, 2px -2px 0 Vars.$green,
          -2px 2px 0 Vars.$green, -2px -2px 0 Vars.$green, 2px 0px 0 Vars.$green,
          0px 2px 0 Vars.$green, -2px 0px 0 Vars.$green, 0px -2px 0 Vars.$green;
      }
      &.warning {
        text-shadow: 2px 2px 0 Vars.$orange, 2px -2px 0 Vars.$orange,
          -2px 2px 0 Vars.$orange, -2px -2px 0 Vars.$orange,
          2px 0px 0 Vars.$orange, 0px 2px 0 Vars.$orange,
          -2px 0px 0 Vars.$orange, 0px -2px 0 Vars.$orange;
      }
      &.danger {
        text-shadow: 2px 2px 0 Vars.$red, 2px -2px 0 Vars.$red,
          -2px 2px 0 Vars.$red, -2px -2px 0 Vars.$red, 2px 0px 0 Vars.$red,
          0px 2px 0 Vars.$red, -2px 0px 0 Vars.$red, 0px -2px 0 Vars.$red;
      }
    }
  }

  .action-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    padding: 1.5rem;
    background-color: Vars.$white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    overflow: hidden;
    z-index: 3;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      height: 50%;
      width: 10%;
      background-color: Vars.$blue;
      transform: rotate(-45deg) translate(150%, -50%);
    }

    &__image {
      text-align: center;
      margin-bottom: 2rem;
      .borne {
        text-align: center;
        display: block;
        font-size: 5rem;
        margin: 1rem 0 2rem;
        color: Vars.$sky;
        font-weight: 800;
      }
      img {
        animation: bounce 1.5s ease-in-out infinite;
        height: 20vh;
      }
    }
    &__image--title {
      text-align: center;
      font-weight: 300;
    }
    &__title {
      margin-bottom: 1rem;
      h3 {
        font-family: "Cherry Bomb One", serif;
        font-style: normal;
        text-transform: uppercase;
      }
    }

    &__buttons {
      display: flex;
      gap: 1rem;

      button {
        display: flex;
      }
    }
  }

  .action-modal.show {
    opacity: 1;
    pointer-events: auto;
  }

  .attack-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 400px;
    padding: 1.5rem;

    background-color: Vars.$white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      height: 50%;
      width: 10%;
      background-color: Vars.$red;
      transform: rotate(-35deg) translate(150%, -50%);
    }

    &__title {
      margin-bottom: 1rem;
      text-align: center;
    }

    &__image {
      animation: bounce 1.5s ease-in-out infinite;
      margin-bottom: 1rem;
      img {
        width: 15vh;
      }
    }

    &__players {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 0.3rem;
      margin-bottom: 1.5rem;
      button:hover {
        background-color: Vars.$red;
        color: Vars.$white;
      }
    }
    &__buttons {
      display: flex;
      gap: 1rem;

      button {
        display: flex;
      }
    }
    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .notification-popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 400px;
    height: auto;
    padding: 1.5rem;
    background-color: Vars.$white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    overflow: hidden;
    color: #003049;

    &.error {
      color: Vars.$red;
    }

    &.show {
      opacity: 1;
    }

    &__content {
      font-family: "Outfit", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      margin: 0.6rem 0;
      line-height: 2.5rem;
    }
  }
}

.game-area {
  position: relative;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-7px);
  }
}

.game-over-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 400px;
  padding: 1.5rem;
  background-color: Vars.$white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: opacity 0.2s ease;
  overflow: hidden;
  z-index: 3;

  img {
    height: 10rem;
  }
}

.game-over-modal__title {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Cherry Bomb One", serif;
  font-style: normal;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.game-over-modal__podium {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
  text-align: center;
  &-player {
    &:nth-child(1) {
      .game-over-modal__podium-player-name {
        color: Vars.$orange;
        font-size: 2.5rem;
      }
    }
  }
}

.game-over-modal__podium-player-rank {
  font-size: 1.2rem;
  font-weight: 900;
}

.game-over-modal__podium-player-name {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
}

.game-over-modal__buttons {
  display: flex;
  justify-content: center;
}

.player-action-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  padding: 1.5rem;
  background-color: Vars.$white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease; /* Transition pour l'opacité */

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50%;
    width: 10%;
    background-color: Vars.$green;
    transform: rotate(-35deg) translate(150%, -50%);
  }
  &__image {
    text-align: center;
    img {
      height: 10vh;
    }
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: Vars.$sky;
  }

  &__message {
    font-family: "Outfit", serif;
    font-style: normal;
    text-align: center;
    font-size: 1.2rem;
    span {
      font-weight: 600;
    }
  }

  &.show {
    opacity: 1;
  }
}

.player-attack-notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 400px;
  padding: 1.5rem;
  background-color: Vars.$white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: opacity 0.2s ease;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;

  &__title {
    font-family: "Cherry Bomb One", serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    color: Vars.$red;
    margin: 0.5rem 0;
  }
  &__image {
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;

    img {
      width: 60vw;
      max-width: 100%;
    }
  }
  &__message {
    margin: 1rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    span {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0 0.3rem;
    }
  }
  &__action {
    margin: 0.5rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
  }

  &.show {
    opacity: 1;
  }
}

.image {
  width: 5rem;
  height: auto;
  background-color: gray;
}

.message {
  font-size: 18px;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
