@use "@Styles/utils/variables.scss" as Vars;

.orbit {
  position: fixed;
  bottom: 260px;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;

  .planet {
    position: absolute;
    bottom: -350px;
    left: 0%;
    transform: translateY(-50%);
    width: 90%;
    height: 90%;
    z-index: 11;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      animation: rotate 800s linear reverse infinite;
    }
  }

  .hotel-planet {
    position: absolute;
    bottom: -120px;
    right: 0;
    transform: translateY(-50%);
    width: 60%;
    height: fit-content;
    aspect-ratio: 1 / 1;
    z-index: 10;
    transition: right 2s ease;

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 1;
    }
    .hotel {
      position: absolute;
      top: -58px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      img {
        width: 100%;
      }
    }
  }

  .car-orbit {
    position: absolute;
    bottom: -350px;
    left: 0%;
    transform: translateY(-50%);
    height: 90%;
    width: 90%;
    transition: transform 2s ease;
    z-index: 10;
    .car {
      position: absolute;
      top: -29px;
      left: 50%;
      height: 30px;
      width: 70px;
      transform: translateX(-50%);

      &__image {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;

        text-align: center;
        img {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
        }
      }

      &__name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: Vars.$white;
        padding: 0.1rem 0.3rem;
        border-radius: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        bottom: 100px;
        max-width: 100%;
        font-size: 0.5rem;
        opacity: 0.8;
      }

      &.player1 {
        .car__name {
          background-color: Vars.$blue;
          bottom: 3rem;
        }
      }
      &.player2 {
        .car__name {
          background-color: Vars.$red;
          bottom: 3.1rem;
        }
      }
      &.player3 {
        .car__name {
          bottom: 3.2rem;
          background-color: Vars.$green;
        }
      }
      &.player4 {
        .car__name {
          bottom: 3.3rem;
          background-color: Vars.$orange;
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
