@use "@Styles/utils/variables.scss" as Vars;

.orbit {
  position: fixed;
  bottom: 150px;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;

  // @media (max-height: 400px) {
  //   width: 50vw;
  //   bottom: -80%;
  // }

  .planet {
    position: absolute;
    top: 70%;
    left: 0%;
    transform: translateY(-50%);
    width: 70%;
    height: 70%;
    z-index: 11;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      animation: rotate 800s linear reverse infinite;
    }
  }

  .hotel {
    position: absolute;
    bottom: 60%;
    right: 0;
    transform: translateY(-50%);
    width: 60%;
    height: fit-content;
    z-index: 10;
    transition: right 2s ease;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 1;
    }
  }

  .car-orbit {
    position: absolute;
    top: 70%;
    left: 0%;
    transform: translateY(-50%);
    height: 70%;
    width: 70%;
    transition: transform 2s ease;
    z-index: 10;
    .car {
      position: absolute;
      top: -29px;
      left: 50%;
      height: 30px;
      width: 70px;
      transform: translateX(-50%);

      &__image {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;

        text-align: center;
        img {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
        }
      }

      &__name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: Vars.$white;
        padding: 0.1rem 0.1rem;
        border-radius: 10px;
        filter: opacity(0.5);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &.player1 {
        .car__name {
          background-color: Vars.$blue;
          bottom: 3rem;
        }
      }
      &.player2 {
        .car__name {
          background-color: Vars.$red;
          bottom: 3.5rem;
        }
      }
      &.player3 {
        .car__name {
          bottom: 4rem;
          background-color: Vars.$green;
        }
      }
      &.player4 {
        .car__name {
          bottom: 4.5rem;
          background-color: Vars.$orange;
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
