$blue: #003049;
$sky: rgb(91, 168, 220);
$red: #d62828;
$green: #3cbd47;
$orange: #f77f00;
$black: #191919;
$white: #ffffff;
$grey: #b4b4b4;
$background: #f9f9f9;
$dark_white: rgb(252, 252, 252);

@mixin main-padding {
  padding: 2rem 5%;
}
