@use "../utils/variables.scss" as Vars;

.primary-button {
  text-align: center;
  all: unset;
  box-shadow: inset 0px 40px 0px -1rem rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  cursor: pointer;
  color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  margin: auto;
  transition: all 0.2s ease-in-out;
  flex-wrap: nowrap;

  &:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
