@use "@Styles/utils/variables.scss" as Vars;

.page-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: Vars.$white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: white;

  .spinner {
    position: relative;
    animation: spin 1s linear infinite;
    margin-bottom: 2rem;

    img {
      width: 5rem;
      background-color: white;
      border-radius: 50%;
    }
  }

  p {
    font-family: "Cherry Bomb One", serif;
    color: Vars.$blue;
    font-size: 1.8rem;
    max-width: 90%;
    text-align: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
