@use "@Styles/utils/variables.scss" as Vars;
.android-program {
  h2 {
    margin-bottom: 0;
    padding-bottom: 1rem !important;
    color: Vars.$red;
  }
  p {
    padding: 0 1rem;
    line-height: 1.2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .form-input {
      position: relative;
      width: 80%;
      margin: auto;
      input {
        all: unset;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        padding: 0.5rem 7rem 0.5rem 0.5rem;
        color: Vars.$black;
        background-color: Vars.$grey_transparent;
        border-radius: 12px;

        &::placeholder {
          color: Vars.$grey;
        }

        &:focus {
          &::placeholder {
            color: Vars.$black;
          }
        }
      }

      .domain {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        height: 100%;
        padding-left: 0.5rem;
        background-color: Vars.$green;
        color: Vars.$white;
        border-radius: 0 12px 12px 0;
        width: 7rem;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }
    .form-checkbox {
      height: 0;
      width: 0;
      overflow: hidden;
    }
  }
}
