@use "@Styles/utils/variables.scss" as Vars;
.guest {
  padding: 0rem 0 2rem;
  width: 100%;
  form {
    button {
      display: block;
      background: none;
      text-decoration: underline;
      border: none;
      font-weight: 600;
      font-size: 1.2rem;
      margin: auto;
      cursor: pointer;
    }
  }
}
