@use "@Styles/utils/variables.scss" as Vars;

.home {
  padding: 2rem 0.3rem;
  @media (max-height: 400px) {
    transform: scale(0.8);
    padding-top: 0;
  }

  &-content {
    background-color: Vars.$white;
    box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 0;
    @media (max-height: 400px) {
      padding: 0.5rem 0;
    }
  }

  .welcomer {
    text-align: center;
    padding: 0 4rem;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      width: 50%;
      text-align: center;
    }
  }
}
