@use "@Styles/utils/variables.scss" as Vars;

.home {
  padding: 2rem 0.3rem;
  @media (max-height: 400px) {
    transform: scale(0.8);
    padding-top: 0;
  }

  &-content {
    background-color: Vars.$white;
    box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 0;
    @media (max-height: 400px) {
      padding: 0.5rem 0;
    }
  }

  .welcomer {
    text-align: center;
    margin-bottom: 0;
    span {
      font-weight: 800;
    }
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: stretch;
    padding: 0 1rem;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 1rem;
      color: Vars.$white;
      border-radius: 17px;

      i {
        font-size: 2.2rem;
      }
      span {
        padding-top: 0.5rem;
        font-size: 1.2rem;
      }
    }
  }
}
