@use "Reset";
@use "./utils/fonts" as Fonts;
@use "./utils/variables" as Vars;
@use "./components/Buttons.scss" as Button;
@import "https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;700&display=swap";

body {
  background-color: Vars.$background !important;
  overflow-x: hidden;
  max-width: 450px;
  max-height: 900px;
  margin: 0 auto;
  * {
    font-style: normal;
    font-weight: 400;
    font-family: "Lato", serif;
    font-size: 16px;
    line-height: 25px;
  }

  @media (min-width: 641px) {
    max-width: 800px !important;
  }
}
h1,
h2,
h3 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0.6rem 0;
  line-height: 1.8rem;
  color: Vars.$blue;
}

p {
  margin-bottom: 1.2rem;
}

a {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
}

.color {
  &-sky {
    color: Vars.$sky;
  }
  &-blue {
    color: Vars.$blue;
  }
  &-red {
    color: Vars.$red;
  }
  &-green {
    color: Vars.$green;
  }
  &-orange {
    color: Vars.$orange;
  }
  &-black {
    color: Vars.$black;
  }
}

.bg {
  &-sky {
    background-color: Vars.$sky;
  }
  &-blue {
    background-color: Vars.$blue;
  }
  &-red {
    background-color: Vars.$red;
  }
  &-green {
    background-color: Vars.$green;
  }
  &-orange {
    background-color: Vars.$orange;
  }
  &-black {
    background-color: Vars.$black;
  }
  &-grey {
    background-color: Vars.$grey;
  }
}

.cherry-font {
  font-family: "Cherry Bomb One", serif;
  font-style: normal;
}

.form-error {
  display: flex;
  width: 80%;
  margin: auto;
  font-size: 0.7rem;
  color: Vars.$orange;
  line-height: 0.99rem;
}
