header.header {
  max-height: 20vh;
  text-align: center;
  margin-top: 1em;
  @media (min-width: 641px) {
    margin: 2vh auto 1vh auto;
  }

  @media (max-height: 400px) {
    display: none;
  }

  .logo img {
    max-width: 90%;
    max-height: 10vh;
  }
}
