@use "@Styles/utils/variables" as Vars;
@import "@Styles/utils/mixins";

.rules {
  padding: 2rem 0.3rem;
  @media (max-height: 400px) {
    transform: scale(0.8);
    padding-top: 0;
  }
}

h2 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #003049;
  text-align: left;
}

.rules-content {
  background-color: Vars.$white;
  box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 27px 27px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem 3rem;

  h3 {
    // text-decoration-line: underline;
    text-align: center;
  }

  p {
    line-height: 1.3rem;
  }

  > ul {
    display: grid;
    gap: 1rem;
    > li {
      h4 {
        font-weight: 600;
      }
      padding: 0.2rem;
      &:nth-child(odd) {
        border-radius: 15px;
        background-color: Vars.$grey_transparent;
      }
    }
  }

  .cards {
    gap: 0.5rem;
    color: Vars.$black;

    li {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5rem;
      align-items: center;
    }

    .card-img img {
      height: 3rem;
      margin-right: 1rem;
    }

    .card-name {
      font-weight: 600;
      font-size: 0.9rem;
    }

    .card-description {
      font-size: 0.8rem;
      line-height: 1.2rem;
      width: 100%;
    }

    .card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-weight: 600;
        font-size: 0.9rem;
        padding: 0.25rem 1rem;
        border-bottom: 1px solid Vars.$grey_transparent;
        img {
          width: 3rem;
        }
      }
    }
  }
  .back-button {
    margin-right: 1rem;
  }
}
