@use "@Styles/utils/variables.scss" as Vars;
.server-selection {
  h2 {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #003049;
    text-align: left;
    margin-left: 3rem;
  }

  ul.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 0.2rem;
    margin: 0;
    padding: 1rem;
    max-height: 70vh;
    overflow: auto;
    overflow-x: clip;
    @media (max-height: 400px) {
      min-height: 7rem;
      max-height: 50vh !important;
    }

    .server {
      display: flex;
      flex-direction: row;
      background-color: rgba(216, 216, 216, 0.1);
      padding: 0.5rem 1rem;
      border-radius: 15px;
      border: none;
      text-align: center;
      align-items: center;
      .server-infos {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        span.server-name {
          grid-column: 1 / -1;
          font-weight: 600;
          font-size: 1rem;
        }

        span {
          font-size: 0.7rem;
          line-height: 1rem;
          padding: 0;
          margin: 0;
        }

        &.empty {
          display: flex;
          justify-content: center;
        }
      }
      .server-button {
        width: fit-content;
        i {
          font-size: 1rem;
          color: Vars.$white;
          padding: 0.8rem;
          border-radius: 100%;
        }
      }
    }

    &::-webkit-scrollbar {
      height: 3px;
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:active {
      background-color: Vars.$sky;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #cfd8da;
      border-radius: 10px;
      &:end {
        margin-bottom: 1.2rem;
      }
      &:start {
        margin-top: 1.2rem;
      }
    }
  }

  .search-bar {
    input {
      all: unset;
      position: relative;
      text-align: center;
      width: 95%;
      padding: 0.5rem;
      color: Vars.$black;

      &::placeholder {
        color: Vars.$grey;
      }

      &:focus {
        &::placeholder {
          color: Vars.$black;
        }
      }

      &:active,
      &:focus,
      &:focus-visible,
      &:hover {
        background-color: Vars.$grey_transparent;
        border-radius: 15px;
      }
    }
  }

  p {
    margin-left: 1rem;
  }

  .buttons {
    text-align: center;
  }
}
